@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #10b981;
  --animate-drop-in: dropIn 0.5s ease-out forwards;
  --animate-blob: blob 7s infinite;
  --animate-scan-line: scanLine 2s ease-in-out infinite;
  
  @keyframes scanLine {
    0% { top: 10%; }
    50% { top: 85%; }
    100% { top: 10%; }
  }
  
  @keyframes dropIn {
    0% { transform: translateY(-20px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
